#mainbody{
   background-color: white;
   -moz-box-shadow: 1px 0px 2px #000;
   	-webkit-box-shadow: 1px 0px 2px #000;
   	box-shadow: 1px 0px 2px #000;
  margin: 10px 20px 10px 20px;
}



#younger{

     position: fixed;
     top: 20%;
     right: 5%;
width:20%;
}


#mainbody{
   margin: 5%;
   padding: 2%;
}

p , h3 , h4{
     color:#6c6e70;
     font:normal 20px/22px 'Open Sans Italic',Arial,sans-serif;
     font-style:italic\9;
     text-align:center;
     clear:left;

     padding: 1em 0 1em 0;
}

h1{
      color: #323435
     font:normal 30px/32px 'Open Sans Italic',Arial,sans-serif;
     font-style:italic\9;
     text-align:center;
     clear:left;

     padding: 1em 0 1em 0;
}

.year {
   color: #323435;
   font: italic bold 26px Georgia,serif;
   text-decoration:none;
   text-align:left;
   display: inline-block;
   overflow: hidden;
   word-break:break-word;
   float: left; width: 100%;
   letter-spacing: -0.07px;
   max-height: 34px;
}