@CHARSET "UTF-8";

#mainbody {
	background-color: white;
	margin: 5% 10% 5% 10%;
	padding: 5%;
}

p {
	color: #4f5254;
	font: normal 24px/26px 'Open Sans Italic', Arial, sans-serif;
	font-style: italic\9;
	text-align: left;
	clear: left;
}